.c-ArticleCard {
 width: calc(100vw / 5);
 min-width: 190px;
 margin-bottom: $base_grid *4;
 &_Header{ }//Header

 &_Heading{
  margin-bottom: $base_grid *2;
  &-Img{
   width: calc(100vw / 5);
   height: calc(100vw / 5);
   min-width: 190px;
   min-height: 190px;
  }//-Img
 }//_Heading

 &_Overview{}//_Overview

 &_Title{margin-bottom: 0.5em;}//_Title
 &_SubTtile{
  margin-bottom: 0.5em;
  > a{color: palettes(link,text); }//仮りのスタイル
 }//_SubTtile
 &_Content{}//_Content
 &_Date{}//_Date


 &_Status{
  &_Wrap{
   display: flex;
   justify-content: flex-start;
  }//_Wrap
  &_Item{  margin-right: $base_grid;}
  &-Icon{@include MainTxt-L;}//-Icon
  &-Count{@include MainTxt-S;}
 }//_Status


 &_Footer{
 }//_Footer

}//.c-ArticleCard

