$default-color: #00bcd4;
$card-padding: 8px;
$card-color: #FFF;
$font-color: #fff;
$footer-font-color: #000;
$card-link-color: #ffab2e;
$card-link-hover: #ffcc35;


//Cardの並び数
$card_qt:4;

.card_flex{
 @include flex_container();
 -webkit-flex-wrap: wrap;
 flex-wrap:wrap;
 -webkit-justify-content: space-between; /* Safari */
 justify-content:         space-between;

 section{
  @include flex_item();
  //justify-content: space-between;
  //flex-wrap: wrap;
  //align-items: stretch;
  //flex-basis: 18%;

  //cardのレイアウト次第で以下調整考える
  //&:nth-child(5n){margin-right: 0;}
  // &:nth-child(5n+1){margin-left: 0;}

 }
}//card_flex

.card {
 max-width: $card_size;
 margin-bottom: $base_grid *4;
 a{color: $text-color;}
 .pic{
  margin-bottom: $base_grid *4;
  &.squarebox{}//squarebox
 }//pic
 .headline{text-align: center; margin-bottom: $base_grid;}//headline
 .subheadline{text-align: center; margin-bottom: $base_gridx2;}//subheadline
 .card_contents{
  overflow: hidden;
  width: 100%;
  .title{
   text-align: center;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
  }//.title
  .introduction {
   @include multiple-ellipsis(80px,4,#FFF);
   margin-bottom: $base_grid * 2;
   //複数行省略惜しいやつ
   //display: -webkit-box;
   //-webkit-box-orient: vertical;
   //-webkit-line-clamp: 3;
   //overflow: hidden;
   //複数行省略惜しいやつend
  }//introduction
 }//card_contents
 footer {text-align: center;}//footer

 &.emptycard {
  width: $card_size;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
 }


 @include MQ(maxL) { //----------------------
 }//breakpoints (maxL) ----------------------

 @include MQ(M) { //-------------------------
 }//breakpoints (M) -------------------------

 @include MQ(S) { //-------------------------
  max-width: $S-card_size;
  margin: auto auto $base_gridx4 auto;
  &:first-child{
   margin-left: auto;
  }
 }//breakpoints (S) -------------------------


}//.card





.mobile { //mobile setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //mobile end **********************************

.tablet { //tablet setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //tablet end **********************************

