.c-Header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 //background-color: $base-color;
 &_Branding{
  &_Caption{  } //_Caption
 } //_Branding
 &_Block{ }//_Block


}//.c-Header

