.c-Loader05{
  margin: 25% auto;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load5 1.1s infinite ease;
  transform: translateZ(0);
}

.loading-default[data-v-46b20d22],.infinite-loading-container[data-v-358985eb] [class^=loading-] { //InfinityScrollの打ち消しよう不本意ｗ
 @extend .c-Loader05;
 width: 1em !important;
 height: 1em !important;
 font-size: 10px !important;
 border:none !important;
}

.infinite-status-prompt{padding: $base_grid*10 0px !important;}//InfinityScrollの打ち消しよう不本意ｗ

.loading-default[data-v-46b20d22]:before{display: none !important;}//InfinityScrollの打ち消しよう不本意ｗ

.infinite-loading-container{width: 100%;}

$Loders_Color : #606060;

@-webkit-keyframes load5 {
 0%,
 100% {
  box-shadow:
   0em -2.6em 0em 0em rgb(96, 96, 96),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.2),
   2.5em 0em 0 0em rgba(96,96,96, 0.2),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.5),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.7);
 }
 12.5% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.7),
   1.8em -1.8em 0 0em #606060,
   2.5em 0em 0 0em rgba(96,96,96, 0.2),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.2),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.5);
 }
 25% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.5),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.7),
   2.5em 0em 0 0em #606060,
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.2),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 37.5% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.2),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.5),
   2.5em 0em 0 0em rgba(96,96,96, 0.7),
   1.75em 1.75em 0 0em #606060,
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.2),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 50% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.2),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.2),
   2.5em 0em 0 0em rgba(96,96,96, 0.5),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.7),
   0em 2.5em 0 0em #606060,
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.2),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 62.5% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.2),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.2),
   2.5em 0em 0 0em rgba(96,96,96, 0.2),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.5),
   0em 2.5em 0 0em rgba(96,96,96, 0.7),
   -1.8em 1.8em 0 0em #606060,
   -2.6em 0em 0 0em rgba(96,96,96, 0.2),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 75% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.2),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.2),
   2.5em 0em 0 0em rgba(96,96,96, 0.2),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.5),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.7),
   -2.6em 0em 0 0em #606060,
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 87.5% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.2),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.2),
   2.5em 0em 0 0em rgba(96,96,96, 0.2),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.5),
   -2.6em 0em 0 0em rgba(96,96,96, 0.7),
   -1.8em -1.8em 0 0em #606060;
 }
}

@keyframes load5 {
 0%,
 100% {
  box-shadow:
   0em -2.6em 0em 0em #606060,
   1.8em -1.8em 0 0em rgba(96,96,96, 0.2),
   2.5em 0em 0 0em rgba(96,96,96, 0.2),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.5),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.7);
 }
 12.5% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.7),
   1.8em -1.8em 0 0em #606060,
   2.5em 0em 0 0em rgba(96,96,96, 0.2),
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.2),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.5);
 }
 25% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.5),
   1.8em -1.8em 0 0em rgba(96,96,96, 0.7),
   2.5em 0em 0 0em #606060,
   1.75em 1.75em 0 0em rgba(96,96,96, 0.2),
   0em 2.5em 0 0em rgba(96,96,96, 0.2),
   -1.8em 1.8em 0 0em rgba(96,96,96, 0.2),
   -2.6em 0em 0 0em rgba(96,96,96, 0.2),
   -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 37.5% {
  box-shadow:
   0em -2.6em 0em 0em rgba(96,96,96, 0.2), 1.8em -1.8em 0 0em rgba(96,96,96, 0.5), 2.5em 0em 0 0em rgba(96,96,96, 0.7), 1.75em 1.75em 0 0em #606060, 0em 2.5em 0 0em rgba(96,96,96, 0.2), -1.8em 1.8em 0 0em rgba(96,96,96, 0.2), -2.6em 0em 0 0em rgba(96,96,96, 0.2), -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 50% {
  box-shadow: 0em -2.6em 0em 0em rgba(96,96,96, 0.2), 1.8em -1.8em 0 0em rgba(96,96,96, 0.2), 2.5em 0em 0 0em rgba(96,96,96, 0.5), 1.75em 1.75em 0 0em rgba(96,96,96, 0.7), 0em 2.5em 0 0em #606060, -1.8em 1.8em 0 0em rgba(96,96,96, 0.2), -2.6em 0em 0 0em rgba(96,96,96, 0.2), -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 62.5% {
  box-shadow: 0em -2.6em 0em 0em rgba(96,96,96, 0.2), 1.8em -1.8em 0 0em rgba(96,96,96, 0.2), 2.5em 0em 0 0em rgba(96,96,96, 0.2), 1.75em 1.75em 0 0em rgba(96,96,96, 0.5), 0em 2.5em 0 0em rgba(96,96,96, 0.7), -1.8em 1.8em 0 0em #606060, -2.6em 0em 0 0em rgba(96,96,96, 0.2), -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 75% {
  box-shadow: 0em -2.6em 0em 0em rgba(96,96,96, 0.2), 1.8em -1.8em 0 0em rgba(96,96,96, 0.2), 2.5em 0em 0 0em rgba(96,96,96, 0.2), 1.75em 1.75em 0 0em rgba(96,96,96, 0.2), 0em 2.5em 0 0em rgba(96,96,96, 0.5), -1.8em 1.8em 0 0em rgba(96,96,96, 0.7), -2.6em 0em 0 0em #606060, -1.8em -1.8em 0 0em rgba(96,96,96, 0.2);
 }
 87.5% {
  box-shadow: 0em -2.6em 0em 0em rgba(96,96,96, 0.2), 1.8em -1.8em 0 0em rgba(96,96,96, 0.2), 2.5em 0em 0 0em rgba(96,96,96, 0.2), 1.75em 1.75em 0 0em rgba(96,96,96, 0.2), 0em 2.5em 0 0em rgba(96,96,96, 0.2), -1.8em 1.8em 0 0em rgba(96,96,96, 0.5), -2.6em 0em 0 0em rgba(96,96,96, 0.7), -1.8em -1.8em 0 0em #606060;
 }
}
