.table_layout {
 //color: $main-color;
 margin:auto;
 //background-color: $ct-background;

 dl{
  width: 100%;
  display: table;
  margin-bottom: $base_grid;
 }
 dt,dd{
  display: table-cell;
 }
 dt{
  $space:$base_grid *6;
  width: Calc(30% - #{$space});
  padding-right: $space;
 }
 dd{width: 70%;}


 &.heading_justify{
  dt,th{
   -moz-text-align-last: justify;
   text-align-last: justify;
  }
 }//.heading_justify



 @include MQ(maxL) {
 }//breakpoints (maxL) -------------------------
 @include MQ(M) {
 }//breakpoints (M) -------------------------

 @include MQ(S) {
  width: 100%;

  dl{
   display: block;
   margin-bottom: 16px;
  }
  dt,dd{ }
  dt{
   padding-left: 0%;
   width: 100%;
   display: block;
   //text-align: center;
   border-bottom: 2px solid $main-color;
   //border-radius: 20px;
  }
  dd{
   display: block;
   width: 100%;
   //text-align: center;

  }

  &.heading_justify{
   dt,th{
    -moz-text-align-last: left;
    text-align-last: left;
   }
  }//.heading_justify

 }//breakpoints (S) -------------------------


} //table_layout


.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************

.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************
