.c-TimelineCard{
width: 100%;
 border: 1px solid palettes(line,base);
 padding: $base_grid*3;
 width: $BreakPoint-S;
 margin: auto auto $Common_MarginBottom auto;

 &_Overview{
 display: flex;
  justify-content: space-between;

  &_ItemInfo{
   &_Title{ margin-bottom: $base_grid*2;}//_Title
  }//_ItemInfo
 }//_Overview

 &_UserIcon{
  display: flex;
  align-items: center;
  margin-bottom: $base_grid*3;
  >.c-UserIcon_Thumb{margin-right: $base_grid*3;}//c-UserIcon_Thumb
 }//_UserIcon

 &_UserStatus{
  display: flex;
  margin-bottom: $base_grid*3;
  align-items: flex-end;
  &-Label{
   color: palettes(text,white);
   padding: 0em 1em;
   margin-right: $base_grid*3;
   background-color: palettes(Theme,Main);
  }//-Label
  &-Date{
  line-height: 1em;
  }//-Date
 }//_UserStatus


 &_Comment{

 }//_Comment

 &_Rating{
  display: flex;
  align-items: center;
  margin-bottom: $base_grid*3;
  &-Thunder{
  width: 100px;
  }//-Thunder
 }//_Rating


 &_Img{
 position: relative;

 }//_Img

}//.c-TimelineCard

