.c-UserFeed{

 &-Comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid palettes(line,base);
  padding: $base_grid*3;
  margin-bottom: $Common_MarginBottom;

  &_Header{
   width: 220px;
  }//_Header

  &_Overview{
   width: calc(100% - 220px);
   @include MainTxt-S;
  }//_Overview


  &_UserIcon{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: $Common_MarginBottom;
  }//_UserIcon

  &_Rating{
   display: flex;
   justify-content: center;
   align-items: center;
   &-Thunder{
   width: 25%;
   }//-Thunder
  }//_Rating


  &_Block{
   &-UserInfo{width: 25%;}
   &-Text{width: 75%;}
  }

 }//-Comment


}//.c-UserFeed

