.c-UserIcon{

 &_Thumb{
  &-Img{
  width: 48px;
   height: 48px;
   border-radius: 100%;
  }//-Img
  &-CardImg{
   width: 30px;
   height: 30px;
   border-radius: 100%;
  }//-Img
  &-CommentImg{
   width: 48px;
   height: 48px;
   border-radius: 100%;
   @include mq(S, max){ width: 24px; height: 24px;}
  }
 }//_Thumb


 &_Name{
  &.-Light{  color: palettes(text,white);  }

  &-Comment{
   @include mq(S, max){margin-left: 1em;}
  }//-Comment

 }//c-UserIcon_Name


 &-L{
  &_Thumb{
   &-Img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
   }//-Img
   &-CardImg{
    width: 30px;
    height: 30px;
    border-radius: 100%;
   }//-Img
  }//_Thumb
 }//-L


}//.c-UserIcon

