.c-UserIcon{

 &_Thumb{
  &-Img{
  width: 48px;
   height: 48px;
   border-radius: 100%;
  }//-Img
  &-CardImg{
   width: 30px;
   height: 30px;
   border-radius: 100%;
  }//-Img
 }//_Thumb


 &_Name{
  &.-Light{  color: palettes(text,white);  }
 }//c-UserIcon_Name


 &-L{
  &_Thumb{
   &-Img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
   }//-Img
   &-CardImg{
    width: 30px;
    height: 30px;
    border-radius: 100%;
   }//-Img
  }//_Thumb
 }//-L


}//.c-UserIcon

