.c-UserFeed{

 &-Comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid palettes(line,base);
  padding: $base_grid*3;
  margin-bottom: $Common_MarginBottom;

  @include mq(S, max){     flex-direction: column; }

  &_Header{
   width: 220px;
  }//_Header

  &_Overview{
   width: calc(100% - 220px);
   @include MainTxt-S;
  }//_Overview


  &_UserIcon{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   //margin-bottom: $Common_MarginBottom;

   @include mq(S, max){
    margin-right: 1em;
    justify-content: flex-start;
    flex-direction: unset;
   }//mq S

  }//_UserIcon

  &_Rating{
   display: flex;
   justify-content: center;
   align-items: center;

   @include mq(S, max){     justify-content: flex-start; }


   &-Thunder{
   width: 25%;
   }//-Thunder
  }//_Rating


  &_Block{
   &-UserInfo{
    width: 25%;

    @include mq(S, max){
     width: 100%;
     display: flex;
     margin-bottom: $base_grid *2;
    }//mq S

   }//-UserInfo
   &-Text{
    width: 75%;
    @include mq(S, max){ width: 100%; }
   }//-Text
  }

 }//-Comment


}//.c-UserFeed

