@import "impoprt_setting";

//******************************* impoprt partial /
//@import "../partial/swiper";



 .c-Page{
 &_Wrap{
  padding: 0 $base_grid *10;
  @include mq(S,Max){  padding: 0 $base_grid *5;}
  }
 }//c-Page




.p-ArticleThumbnail{
 position: relative;
 margin-bottom: $base_grid * 15;
 &_Caption{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  top: 50px;
  right: 50px;
  padding: $base_grid *6;
  max-width: 60%;
  &_SubTitle{
   font-size: 18px;
   margin-bottom: 0.5em;
   font-weight: bold;
   color: #775733;
  }//_SubTitle
  &_Title{
   font-size: 24px;
   line-height: 1.4em;
   font-weight: bold;
   margin-bottom: 0.5em;
  }//_Title
  &_Additional{
   font-size: 22px;
   margin-bottom: 2em;
   font-weight: bold;
   color: #775733;
  }//_Additional
  &_Explanation{
   font-size: 18px;
   line-height: 1.6em;
   margin-bottom: 1em;
  }//_Explanation
  &_Info{

  }//_Info

  &-TxtSmall{
   font-size: 0.6em;
   vertical-align: middle;
  }//-TxtSmall
 }//_Caption
 &_Img{}//_Img
}//p-ArticleThumbnail

.p-ArticleLayout{
 &_Wrap{
  padding: 0 $base_grid *12;
 }//_Wrap

 &_Block{
  display: flex;
  margin-bottom: $base_grid *20;

  &._Sentences{
   &-Left{
    align-items: flex-start;
    > .p-ArticleLayout_Block_Txt{padding-right: 3em;}//p-ArticleLayout_Block_Txt
   }//-Left
   &-Right{
    flex-direction: row-reverse;
    align-items: flex-start;
    > .p-ArticleLayout_Block_Txt{padding-left: 3em;}//p-ArticleLayout_Block_Txt
   }//-Right
   &-Full{
    display: block;
   }//-Full
  }//_Sentences

  &_Txt{
   width: 70%;
   &_Title{
    font-size: 1.8em;
    line-height: 1.4em;
    font-weight: bold;
    //margin-bottom:$base_grid *2;
    margin-bottom: 1.6em;
   }//_Title
  }//_Txt

  &_Img{
  width: 30%;

   .wp-caption{
    &-text{
    font-size: 12px;
    line-height: 1.6em;
     margin: 25px 0 40px;
    }//-text
   }//.wp-caption

  }//_Img

  &_Contents{
   width: 100%;
  }//_Contents

 }//_Block
}//p-ArticleLayout




.mobile { //mobile setting **********************
 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) {} //portrait
 @media screen and (orientation: landscape) {} //landscape
 //end Gyro setting ----------------------------
}//mobile end **********************************

.tablet { //tablet setting **********************
 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) {} //portrait
 @media screen and (orientation: landscape) {} //landscape
 //end Gyro setting ----------------------------
}//tablet end **********************************
