

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/reset";
@import "foundation/variables";
@import "foundation/color";
@import "foundation/mixin";
@import "foundation/setting";



// ==========================================================================
// Layout
// ==========================================================================
//******************************** Common /
*{    @include prefix(box-sizing, border-box);    }
@import "layout/layout";
@import "layout/header";
@import "layout/footer";



// ==========================================================================
// Object
// ==========================================================================
@import "common";//Fix
//@import "object/component/form";


// -----------------------------------------------------------------
// Vendors
// -----------------------------------------------------------------
//@import "object/vendors/drawer";



// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
@import "object/component/form";
@import "object/component/Header";
@import "object/component/Searchbar";
@import "object/component/Sort";
@import "object/component/global_nav";

@import "object/component/UserFeed";

@import "object/component/ArticleCard";
@import "object/component/TimelineCard";
@import "object/component/Footer";
@import "object/component/UserIcon";
@import "object/component/Loaders";
@import "object/component/Modal";
@import "object/component/MasterItem";
@import "object/component/Legal";


// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------
@import "object/project/Note";
@import "object/project/HamburgerMenu";
@import "object/project/UserMypage";
@import "object/project/MasterItem-Only";
@import "object/project/BrandList";
@import "object/project/CategoryList";


// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------
@import "object/utility/typography";
@import "object/utility/decoration";
@import "object/utility/display";
@import "object/utility/position";
@import "object/utility/dimension";
@import "object/utility/clearfix";

