.p-BrandList{

 &-Title{
 }//-Title

 &-Nav{
  margin-bottom: $base_grid *10;
  padding: $base_grid *3 $base_grid *3 $base_grid *6 $base_grid *3;

  &_Menu{
   display: flex;
   justify-content: space-between;
  }//_Menu
  &_Item{
   &:after{content: ".";}
  }//_Item
 }//-Nav

 &-Block{
  margin-bottom: $base_grid *10;
  &_Label{
   font-size: 2.4em;
   margin: auto;
   width: 1em;
   height: 1em;
   text-align: center;
   line-height: 1em;
   position: relative;
   margin-bottom: $Common_MarginBottom;
   &:after{
    border: 1px solid;
    border-radius: 50%;
    content: "";
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   }//after
  }//_Label

  &:last-child{//Otherç”¨
   width: auto;
   > .p-BrandList-Block_Label{
    width: auto;
    &:after{
     border-radius: 25px;
     width: 4em;
    }//:after
   }//.p-BrandList-Block_Label
  }//:last-child

 }//-Block

 &-Brand{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &_Name{
   margin-right: 2em;
   margin-bottom: 1em;
  }//_Name
  &_Count{
   font-size: 0.8em;
   color: palettes(text,white);
   padding: 0 0.5em;
   margin-left: 0.5em;
   background-color:palettes(Theme,Main);
  }//_Count
 }//-Brand

}//p-BrandList



.p-BrandList-Block{

}
