.p-MasterItem-Only{
 display: none;
 font-size: 0.7em;
}//p-MasterItem-Only



.c-MasterItem_MainStatus_Item-Icon{
 >.p-MasterItem-Only{
  display: inline-block;
 }//p-MasterItem-Only
}//.c-MasterItem_MainStatus_Item-Icon
