.p-News{
 width: 100%;
 max-width: $commoncontents;
 margin: auto;
// div{display: inline-block;}


 &_Wrap{
  width: 100%;
  margin-bottom: 1em;
 }//_Wrap

 &_Date{
  margin-right: $base_grid * 2;
 } //_Date

 &_Txt{
  $interval:$base_grid * 2;
  width: calc(60% - (#{$interval}) );
 }//latter_part


 .w-date{
  &:after{
   content: '|';
  }
  }//.w-date

 .w-feed{
  display: block;
 }

 //breakpoints -------------------------------
 @include MQ(maxL) { }//breakpoints (maxL) -------------------------

 @include MQ(M) { }//breakpoints (M) -------------------------

 @include MQ(S) {
display: block;

  .first_part{
   width: 100%;
   margin-right: 0;
   font-size: 1.2rem;
   line-height: 1em;
   display: block;
  } //.first_part

  .latter_part{
   width: 100%;
  }//latter_part

 }//breakpoints (S) -------------------------

}//.p-News

