.swiper-container {
 width: 100%;
 height: 480px;

 .swiper-slide{
  img{
   width: 100%;
   height: 480px;
   object-fit: cover;
   //IE
   font-family: 'object-fit: cover; object-position: bottom;';
  }
 }//swiper-slide

}//.swiper-container




#contents_swiper{
 &.swiper-container {
  width: 100%;
  height: 340px;
margin: auto;

 }//.swiper-container

}//#contents_swiper
