$line:1px;
$Size:18px;

.c-Form{

 &_Input{
  &.-Checkbox{
   display: none;
   &:checked + label{
    &:before {
     background: palettes(Theme,Main);
     border: $line solid palettes(Theme,Main);
    }//:before
   }//:checked
  }//-Checkbox
 }//_Input


 &_Label{
  &.-CheckBox{
   line-height: $line + $line + $Size;
   position: relative;
   display: inline-block;
   overflow: hidden;
   padding: 0em 0em 0em 2.5em;
   cursor: pointer;
   transition: all 0.15s ease;
   white-space: nowrap;
   text-overflow: ellipsis;
   margin-bottom: 1em;
   &:before{
    position: absolute;
    top: 0em;
    left: 0em;
    width: $Size;
    height: $Size;
    content: '';
    border: $line solid palettes(line,base);
    //background: palettes(Theme,Light);
   }
  }//.-CheckBox

 }//_Label

}//c-Form
