input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
*[type="submit"],
{

 //共通設定 ########################################
 $input_width:300px;

 margin-bottom:1.5em;
 display: inline-block;
 position: relative;
 //width:$input_width;
 transition: all .2s;
 padding: 0.5em 1em;

 &:focus {
  padding-left: 0.8em;
  &:placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  {
   color: transparent;
  }
 }
 &:disabled {
  background-color: #eee;
  cursor: not-allowed;
 }

 $color:#3498db;
 @mixin placeholderColor($color) {
  &:placeholder-shown {color: $color;}
  &::-webkit-input-placeholder {color:$color;}
  &:-moz-placeholder { color:$color; opacity: 1;}
  &::-moz-placeholder { color:$color; opacity: 1;}
  &:-ms-input-placeholder { color:$color;}
 }

 //共通設定ここまで ########################################

 & + label{

 }//label

 &.c-Form{

  &_Input{
   background: $base-color;
   width: 100%;

   &.-Text{
    position: relative;
    transition: all .2s;
    &:focus {
     padding-left: 0.8em;
     &:placeholder,
     &::-webkit-input-placeholder,
     &::-moz-placeholder,{
      color: transparent;
     }
    }
    &:disabled {
     background-color: #eee;
     cursor: not-allowed;
    }

    @mixin placeholderColor($color) {
     &:placeholder-shown {color: $color;}
     &::-webkit-input-placeholder {color:$color;}
     &:-moz-placeholder { color:$color; opacity: 1;}
     &::-moz-placeholder { color:$color; opacity: 1;}
     &:-ms-input-placeholder { color:$color;}
    }

   }//-Text

   &.-Email{ @extend .-Text; }//-Email
   &.-Password{ @extend .-Text; }//-Password
   &.-Tel{@extend .-Text;}//-Tel

  }//_Input

  &_Button{}
  &_Submit{
   background: palettes(Theme,Main);
   color:palettes(Theme,Base);
   padding: 0.5em 2em;
   cursor: pointer;
  }
  &_Reset{}

 }//c-Form



}// input[type="text"], input[type="password"]




//:placeholder-shown { color: $second-color;}
//::-webkit-input-placeholder { color: $second-color;}
//::-moz-placeholder { color: $second-color; opacity: 1;}
//:-ms-input-placeholder { color: $second-color;}

//:focus:placeholder-shown { color: transparent;}
//:focus::-webkit-input-placeholder { color: transparent;}
//:focus::-moz-placeholder { color: transparent; opacity: 1;}
//:focus:-ms-input-placeholder { color: transparent;}
