//Common Parts --------------------------------------------
.l-Container{
 background-color:palettes(Theme,Back);
}//.l-Container


.l-Header{
 width: 100%;
 padding: 0 $ContentsPadding;
 overflow: hidden;
 position: fixed;
 z-index: z(header);

 + .l-Contents{
  padding-top: $header_height;
 }
}//l-header


.l-Contents{
 @include ContentsBlock;
 max-width: $SiteSize;
 margin: auto;
 background-color:palettes(Theme,Base);
}//l-Contents

.l-Article{
 @include ContentsBlock;
}//l-Article

.l-Feed{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin:$ContentsMargin;
 &_Wrap{}//_Wrap
}//.l-Feed

.l-SideContents{

}//.l-SideContents


.l-Footer{
 padding: $base_grid *4 $ContentsPadding;
}//l-footer



//ContentsLayout --------------------------------------------
.l-ContentsLayout{
 $LayoutMargin:$base_grid *5;
 $SideContents-Width:30%;
 $Contentswidth: Calc(100% - #{$SideContents-Width} - #{$LayoutMargin});

margin:$ContentsMargin;
display: flex;

>.l-Article,>.l-Feed{width: $Contentswidth; margin-right: $LayoutMargin;}
>.l-SideContents{width:$SideContents-Width;}
}//l-ContentsLayout



//Article Feed --------------------------------------------
.l-Feed{

 >.u-Flex>.c-ArticleCard{
  @include ArticleCard_Size(4,200px);
   }//.c-ArticleCard


 &_WcArticle{
  > .c-Wc_ArticleCard{
   @include ArticleCard_Size($ArticleCard-Wc-num,$ArticleCard-Wc-max)
   max-height: initial;
   height: auto;
   margin:0 $base_grid*2 $base_grid*2 $base_grid*2;

   @include mq(S,max) {
    max-height: initial;
    height: auto;
    margin:0 auto $base_grid*2 auto;
   }//mq-S

  }//.c-Wc_ArticleCard
 }//_WcArticle

}//.l-Feed

.p-RecentPosts_Feed_Wrap{
 >.c-ArticleCard{
  @include ArticleCard_Size(4,200px);
 }//.c-ArticleCard
}//p-RecentPosts_Feed_Wrap
