//Common Parts --------------------------------------------
.l-Container{
 background-color:palettes(Theme,Back);
}//.l-Container


.l-Header{
 width: 100%;
 padding: $base_grid*2 0;
 overflow: hidden;
 //position: fixed;
 //z-index: z(header);

 + .l-Contents{
  //padding-top: $header_height;
 }
}//l-header


.l-Contents{
 margin: auto;
 padding: $base_grid*5 0;
 @include ContentsBlock;
 background-color:palettes(Theme,Base);
}//l-Contents

.l-Article{
 @include ContentsBlock;
}//l-Article

.l-Feed{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}//.l-Feed

.l-SideContents{
 width: 100%;
}//.l-SideContents


.l-Footer{
 padding: $base_grid 0;
}//l-footer



//ContentsLayout --------------------------------------------
.l-ContentsLayout{
 $LayoutMargin:$base_grid *5;
 $SideContents-Width:30%;
 $Contentswidth: Calc(100% - #{$SideContents-Width} - #{$LayoutMargin});

margin:$ContentsMargin;
display: flex;
flex-wrap: wrap;

>.l-Article,>.l-Feed{width: $Contentswidth; margin-right: $LayoutMargin;}
>.l-SideContents{width:$SideContents-Width;}
}//l-ContentsLayout



//Article Feed --------------------------------------------
.l-Feed{

 >.u-Flex>.c-ArticleCard{
  @include ArticleCard_Size(4,200px);
   }//.c-ArticleCard

}//.l-Feed

.p-RecentPosts_Feed_Wrap{
 >.c-ArticleCard{
  @include ArticleCard_Size(4,200px);
 }//.c-ArticleCard
}//p-RecentPosts_Feed_Wrap
