.c-SideContents{
 width: $subcontents_width;

 section{
  margin-bottom: $base_grid *12;
 }//section

 .archive_title{
  font-weight: bold;
 }//.archive_title

 .archive_list{
  li{
   .children{
    margin-left: 1em;
    li{
     &:before{
      content: "▶︎";
      padding-right: 0.5em;
     }//before

     .children{
      li{
       &:before{
        content: "▷";
       }//before
      }//li
     }//children

    }//li

   }//children
  }//li
 }//.archive_list

 //breakpoints -------------------------------
 @include MQ(maxL) { }//breakpoints (maxL) -------------------------

 @include MQ(M) {

   width: 100%;
   max-width: $commoncontents;
   margin: auto;
   section{
    margin-bottom: $base_grid *6;
   }//section
   .archive_list{
    li{
     display:contents;
     &:after{
      content: "/";
     }//:after
     &:last-child{
      &:after{
       content: "";
      }//:after
     }//last-child
     .children{
      margin-left: 0;
      display: contents;
      li{
       display: contents;
       &:before{
        content: "";
        padding-right: 0;
       }//before

       .children{
        li{
         &:before{
          content: "";
         }//before
        }//li
       }//children

      }//li
      &:before{       content: "/";      }//:after
     }//children
    }//li
   }//archive_list

 }//breakpoints (M) -------------------------

 @include MQ(S) { }//breakpoints (S) -------------------------

}//subcontents


.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) {

 }//portrait
 @media screen and (orientation: landscape) {

 }//landscape
 //end Gyro setting ----------------------------
} //mobile end **********************************

.tablet { //tablet setting **********************
 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) {

 } //portrait
 @media screen and (orientation: landscape) {

 }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************
