.u-ListStyle{

 &-BulletPoint{
  list-style-type: disc;
  >li{margin-left: 1.5em; margin-bottom: 0.5em;}
 }//BulletPoint

 &-Number{
  list-style-type: decimal;
  >li{margin-left: 1.5em; margin-bottom: 0.5em;}
 }//list_number

 &-LowAlpha{
  list-style-type: lower-alpha;
  >li{margin-left: 1.5em; margin-bottom: 0.5em;}
 }//LowAlpha



}//.u-ListStyle


.u-UnderLine{
text-decoration: underline;
}


.u-Button{
 &_Main{
  display: block;
  text-align: center;
  border: 1px solid;
  padding: 0.25em 4em;
  max-width: 200px;
  margin: auto;
  &-Inline{display: inline-block;}
 }//_Main
 &_Sub{
  display: block;
  text-align: center;
  border: 1px solid;
  padding: 0.25em 2em;
  max-width: 200px;
  margin: auto;
  &-Inline{display: inline-block;}
 }//_Main
}//.u-Button
